/* basic changes made to fit opencart into bootstrap */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1008px;
  }
}

/* add to cart btn */
.btn-cart {color: #fff !important; margin-top: 5px;}
.product-rate {padding-top: 5px; }