/* menu ændringer for at implementere opencart i bootstrap */
.navbar-default   {
	background: #585858 !important;
        li a {
            color: #fff !important;
        }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #555;
background-color: #1abdf0;
}

.dropdown-menu { background-color: #585858;}

.dropdown-menu > li > a {
    color: #fff !important;
    &:hover {
        color: #1abdf0 !important;
    }
}